p {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.nav {
    text-align: center;
    text-transform: capitalize;
}

.links {
    text-decoration: none;
    color: blueviolet;
    text-transform: capitalize;
}

ul {
    display: inline-block;
    padding: 8px;
    padding: 14px 16px;}
ul a:hover {
        background-color: #111;
        color: white;
      }

  #info{
    margin-top: 40px;
    clear: both;

  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: justify;
    background-color: beige
    
}
.car0 { 
    background-image: url("./images/Gege.jpg");
    padding-bottom: 800px;
}

h4 {
    text-align: center;
}

.container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.card {
    width : 220px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid;
    height:670px;
    
}

.card-image {
    height:180px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    transition: background-image 2 ease;
}

.car1 { 
    background-image: url("./images/PTNautilus1.jpeg");
}

.car2 { 
    background-image: url("./images/Royal Oak 1.jpeg");
}

.car3 { 
    background-image: url("./images/IWC1.jpeg");
}


.car1x { 
    background-image: url("./images/PTNautilus2.jpeg");
}

.car2x { 
    background-image: url("./images/Royal Oak 2.jpeg");
}

.car3x { 
    background-image: url("./images/IWC2.jpeg");
}

.card p { 
    padding: 10px;
}
.card a {
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    position: absolute;
    bottom:5px;
    width:120px;
    height:20px;
    left:51px;
    border-radius: 10px;
    text-decoration: none;

}
.card:hover {
    color: blue;
    transform: scale(1.03);
    transition: all 1s ease;
}

.bio-Image  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }
.la-moumou-a-gege {
    text-align: center;

}

.car1:hover { 
        background-image: url("./images/PTNautilus2.jpeg");
    }
    
.car2:hover { 
        background-image: url("./images/Royal Oak 2.jpeg");
    }
    
.car3:hover { 
        background-image: url("./images/IWC2.jpeg");
    }